<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Cart - makeitgreen</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.jpeg">

</head>

<body style="background-image: none; overflow-x: hidden;">
    <header class="header-home">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid" style="display: flex; justify-content: space-between;">
                <a href="/home" style="text-decoration: none;">
                    <div class="logo-container">
                        
                            <img class="logo-img" src="/images/logo.jpeg" alt="">
                            <h3>MAKE IT GREEN</h3>
                    </div>
                </a>
                <div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon "></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <form class="d-flex" style="margin-right: 80px;" action="/searchfromuser" method="post">
                                <input id="productname" name="productname" class="form-control me-2" type="search"
                                    placeholder="Search product" aria-label="Search" style="border-radius: 19px;">
                                <button class="btn " type="submit"
                                    style="background-color: #5A875E; border-radius: 74px; color: white;">Search</button>
                            </form>
                            <a class="nav-link active link-header" aria-current="page" href="/cart"
                                style="margin-right: 20px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-cart3" viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg>
                                Cart</a>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle link-header" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 20px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor"
                                        class="bi bi-person-circle " viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path fill-rule="evenodd"
                                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                    </svg>
                                    My profile
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <% if(logstatus=="logout" ){ %>
                                        <li><a class="dropdown-item" href="/profile">My profile</a></li>
                                        <li><a class="dropdown-item" href="/wishlist">Wishlist </a></li>
                                        <% } %>
                                            <li><a class="dropdown-item" href="/<%=logstatus %>">
                                                    <%=logstatus %>
                                                </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="list-container container-fluid">
        <div>
          <a class="list" href="/wishlist">My Wishlist</a>
          <div class="dropdown">
            <a class="list dropdown-toggle " role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
              Category 
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <% cat_data.forEach((items,index)=>{ %>
                  <li><a class="dropdown-item" href="/category/<%= items._id %>"><%= items.name  %></a></li>
                <%}) %>
            </ul>
          </div>
          <a class="list" href="/specialoffers">Special offers</a>
        </div>
      </div>
      
    <div class="row">
        <div style="height: fit-content; display: flex; justify-content: center; align-items: center; background: #76cf7a;
        background: -webkit-linear-gradient(0deg, #76cf7a 0%, #292939 100%);
        background: linear-gradient(0deg, #76cf7a 0%, #292939 100%); color: white;">
            <p class="title1">Decor Your World With Live Plants</p>
            <p class="title2">“we serve the true choice of live plants.”</p>
        </div>
    </div>
    </div>
    <div style="display: flex; justify-content: start; width: 100%; height: 80px; align-items: center; padding-left: 150px; ">
        <h3 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"><u>
                Shopping cart
            </u>
        </h3>
    </div>
    <div class="cart-main-container">
        <div class="cart-sub-container ">
            <div class="cart-table shadow p-3 mb-5 bg-body rounded">
                <table class="table " style="background-color: #D9D9D9;">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Product name</th>
                            <th scope="col">Unit price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Sub total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% cartdata.forEach((item)=>{ %>

                            <tr style="background-color: white;height: 100px;">
                                <th scope="row">
                                    <a href="/removecart/<%= item._id %>">
                                        <svg style="color: red;" xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                            <path
                                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                        </svg>
                                    </a>
                                </th>
                                <td><img style="width: 100px; height: 80px;" src="<%= item.image_url %>" alt=""></td>
                                <td>
                                    <%= item.productname %>
                                </td>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                        <path
                                            d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z" />
                                    </svg>
                                    <%= item.price %>
                                </td>
                                <td>
                                    <svg type="button" class="sub-element" data-id="<%= item._id %>"
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-dash-square" viewBox="0 0 16 16">
                                        <path
                                            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                    </svg>&nbsp;
                                    <%= item.quantity %>
                                        &nbsp;

                                        <svg type="button" class="add-element" data-id="<%= item._id %>"
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                            <path
                                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                            <path
                                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                        </svg>

                                </td>
                                <td>
                                    <%= item.subtotal %>
                                </td>
                            </tr>
                            <% }) %>

                    </tbody>
                </table>
            </div>
            <div class="cart-subtotal-container">
                <div class="cart-subtotal">
                    <a href="/clearcart" class="btn btn-success" role="button"> clear cart</a>
                    <p style="font-weight: 600; margin-top: 10px;">Sub total : Rs. <%= sum_subtotal %>
                    </p>
                </div>
            </div>
        </div>
        <div class="subtotal-container">
            <h2 style="color: black;"><u>Place your order</u></h2>
            <div>
                <p>Sub total : <%= sum_subtotal %>/- </p>
                <p>Shipping fee : <%= shippingFee %>/-  </p>
                <hr>
                <h5 id="totalamt"> /- </h5>
            </div>
            <div style="display: flex;">
                <input type="text" placeholder="Apply coupon" id="couponcode">
                <button type="submit" class="btn btn-success" id="coupon" onclick="coupon()">Apply</button>
                <!-- <button id="cancelcoupon" onclick="cancelcoupon()" ></button> -->
            </div>
            <p id="err" style="color: green; margin-top: 10px;"></p>

            <% if(totalAmount != "empty cart"){ %>
            <div style="display: flex; flex-direction: column; ">
                
                <a  href="/checkout" class="btn btn-success" style=" color: white;  border-radius: 10px;" role="button">Checkout</a>
                <p style="color: #12DB26; align-self: center; font-size:small;">pay safe with us..</p>
            </div>
            <% } %>
        </div>

    </div>
    <div
        style="display: flex; justify-content: start; width: 100%; height: 80px; align-items: center; padding-left: 150px; ">
        <h3 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"><u>
                You may also like..
            </u></h3>
    </div>


    <footer>
        <div class="container bg-dark" style="height: auto;">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
                <div class="col mb-3">
                    <div class="logo-container">
                        <img class="logo-img" src="/images/logo.jpeg" alt="">
                        <h3>MAKE IT GREEN</h3>
                    </div>
                    <p class="text-muted">© 2022</p>
                </div>

                <div class="col mb-3">

                </div>

                <div class="col mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>

                <div class="col mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>

                <div class="col mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>
        const addItems = document.querySelectorAll('.add-element');
        const subItems = document.querySelectorAll('.sub-element');
        var totalAmount = document.getElementById("totalamt");

        totalAmount.textContent = 'Total amount : <%= totalAmount %> /-'
        
        addItems.forEach(item => {
            item.addEventListener('click', () => {
                const id = item.getAttribute('data-id');
                fetch('/addqty', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ id })
                })
                .then((response) => response.json())
                .then((data)=>{
                    console.log(data);
                    if (data.message == "done") {
                        window.location.reload();
                    } else if (data.message == "noQty") {
                        alert("Stock empty !");
                    }
                })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            });
        });

        subItems.forEach(item => {
            item.addEventListener('click', () => {
                console.log("sub clicked");
                const id = item.getAttribute('data-id');
                fetch('/subqty', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ id })
                })
                    .then((response) => window.location.reload())

                    .catch((error) => {
                        console.error('Error:', error);
                    });
            });
        });

       
        function coupon() {
            const couponfunction = document.getElementById('coupon');
            if (couponfunction.textContent == "Apply") {
            const couponcode = document.getElementById('couponcode').value;
            const err = document.getElementById("err");
            const amount = "<%= sum_subtotal %>";
            fetch('/applycoupon', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ couponcode,amount })
                })
                .then((response) => response.json())
                    .then(data => {
                        console.log(data);
                        var discountval = data.value;
                        var totalamount = data.amount
                        if (discountval === "null") {
                            err.textContent = "Invalid coupon";
                        }else if(discountval === "minAmountRequired"){
                            err.textContent = "Minimum purchase amount required!";
                        }else {
                            console.log(totalamount);
                            totalAmount.textContent = `Total amount : ${totalamount} /-`;
                            err.textContent = "coupon applies!!! your saved Rs :"+ discountval ;
                            couponfunction.textContent = "Cancel";
                        }
                    })

                    .catch((error) => {
                        console.error('Error:', error);
                    });
            } else if(couponfunction.textContent == "Cancel"){
                fetch('/cancelcoupon')
                .then((response) => response.json())
                    .then(data => {
                        console.log(data);
                        var msg = data.cancel;
                        
                        if (msg === "done") {
                            couponfunction.textContent = "Apply";
                            return window.location.reload();
                        }
                    })
            }
            
        }
        
        function cancelcoupon() {
            
        }

       
    </script>


</body>

</html>