<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>My orders</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.jpeg">

</head>

<body style="background-image: none; overflow-x: hidden;">
    <header class="header-home">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid" style="display: flex; justify-content: space-between;">
                <a href="/home" style="text-decoration: none;">
                    <div class="logo-container">

                        <img class="logo-img" src="/images/logo.jpeg" alt="">
                        <h3>MAKE IT GREEN</h3>
                    </div>
                </a>
                <div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon "></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <form class="d-flex" style="margin-right: 80px;" action="/searchfromuser" method="post">
                                <input id="productname" name="productname" class="form-control me-2" type="search"
                                    placeholder="Search product" aria-label="Search" style="border-radius: 19px;">
                                <button class="btn " type="submit"
                                    style="background-color: #5A875E; border-radius: 74px; color: white;">Search</button>
                            </form>
                            <a class="nav-link active link-header" aria-current="page" href="/cart"
                                style="margin-right: 20px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-cart3" viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg>
                                Cart</a>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle link-header" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 20px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor"
                                        class="bi bi-person-circle " viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path fill-rule="evenodd"
                                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                    </svg>
                                    My profile
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <% if(logstatus=="logout" ){ %>
                                        <li><a class="dropdown-item" href="/home">Home</a></li>
                                        <li><a class="dropdown-item" href="/wishlist">Wishlist </a></li>
                                        <% } %>
                                            <li><a class="dropdown-item" href="/<%=logstatus %>">
                                                    <%=logstatus %>
                                                </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="list-container container-fluid">
        <div>
          <a class="list" href="/wishlist">My Wishlist</a>
          <div class="dropdown">
            <a class="list dropdown-toggle " role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
              Category 
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <% cat_data.forEach((items,index)=>{ %>
                  <li><a class="dropdown-item" href="/category/<%= items._id %>"><%= items.name  %></a></li>
                <%}) %>
            </ul>
          </div>
          <a class="list" href="/specialoffers">Special offers</a>
        </div>
      </div>
      

    <div class="profile-main-container ">
        <div class="primary-profile">
            <div class="primary-profile-div">
                <div style="display: flex; align-items: center; width: 20vw;  flex-direction: column;">
                    <div class="profile-img-container">
                        <img src="/<%= userdata.image_url[0]%>" alt="">
                    </div>
                    <h4>
                        <%= userdata.name %>
                    </h4>
                </div>
            </div>
        </div>
        <div class="secondary-profile">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 20vw; height: auto;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-4">Contents</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">

                    <li class="side-item">
                        <a href="/profile" class="nav-link text-white">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            About me
                        </a>
                    </li>
                    <li class="side-item">
                        <a href="/profile/myorders" class="nav-link text-white">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#table"></use>
                            </svg>
                            My orders
                        </a>
                    </li>
                    <li class="side-item">
                        <a href="/profile/address" class="nav-link text-white">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#grid"></use>
                            </svg>
                            Delivery address
                        </a>
                    </li>
                    <li class="side-item">
                        <a href="/profile/wallet" class="nav-link text-white">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#grid"></use>
                            </svg>
                            My wallet
                        </a>
                    </li>

                </ul>
                <hr>
            </div>
            <div class="detail-container">
                <div class="subdetail-container">


                    <div class="Customer-order-profile">
                        <% if(orderdata[0]){ %>
                        <h3><u>Order history</u></h3>
                        <% orderdata.reverse().forEach((item)=>{ %>
                        <div class="order-container">
                            <div>
                               <p id="orderid"><b>Order number:</b> #<%=item.orderid %></p>
                               <p style="color: green;" id="orderstatus"><b>Status:</b> <%=item.status %></p>
                               <% if(item.status == "Confirmed") {%>
                               <p id="expectedby"><b>Expected by:</b> <%=item.expectedBy %></p>
                               <a  href="" onclick="cancelOrder('<%= item.id %>')">Cancel order</a>
                               <% } %>
                            </div>
                            <% item.itemsname.forEach((name,index)=>{ %>
                                <div style="width: 900px; height: 80px; display: flex; justify-content: space-evenly; margin-top: 5px; align-items: center;">
                                 <img style="width: 40px;" src="<%= item.itemsimage[index] %>" alt="">    
                                 <p><%= name %></p>    
                                 <p >Qty : <%= item.quantity[index] %></p>
                                 <p >Price : <%= item.subtotal[index] %></p>
                                </div>
                            <% }) %>
                            <p style="width: 800px; margin-top: 20px;"> <b>Shipping to : </b><%= item.shippingAddress %></p>
                            <div style="width: 500px; display: flex; justify-content: space-evenly;">
                                <p >Payment mode : <b> <%= item.paymentMode %></b></p>
                                <% if(item.paymentMode == "ONLINE"){ %>
                                  <a href="/downloadInvoice/<%= item.id %>">Download invoice</a>
                               <% } %>
                            </div>
                        </div>
                        <% }) %>
                        <% }else{ %>
                    
                            <h2 style="color: black;">Shop now!!</h2>
                       
                       
                        <% } %>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="container bg-dark" style="height: auto;">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
                <div class="col mb-3">
                    <div class="logo-container">
                        <img class="logo-img" src="/images/logo.jpeg" alt="">
                        <h3>MAKE IT GREEN</h3>
                    </div>
                    <p class="text-muted">© 2022</p>
                </div>

                <div class="col mb-3">

                </div>

                <div class="col mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>

                <div class="col mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>

                <div class="col mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

        <script>
            function cancelOrder(orderid) {
                console.log("workeddd");
                fetch("/cancelorder", {
                method: "POST",
                body: JSON.stringify({ id: orderid }),
                headers: {
                    "Content-Type": "application/json",
                },
            }).then((res)=>{
                // console.log(res);
               return window.location.reload()

            })
            }

            
            
        </script>
   



</body>

</html>